{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<main>


    <div class="card mb-3">
        <div class="card-body">

            <div class="display-4">
                <p>{{make}} {{model}} --- {{year}} --- {{color}} </p>
            </div>

        </div>
    </div>

    <div class="card">

        <div class="card-header">
            <div class="display-6">Features:</div>
        </div>

        <div class="card-body">

            <div class="row">

                {{#each features}}
                <section class="col-4">
                    <div class="card my-0 mx-0">
                        <div class="card-body">
                            <h3>{{@key}}:</h3>
                            {{#each this}}
                            {{@key}}
                            <ul>
                                {{#each this}}
                                <li>
                                    {{@key}}:{{#unless this.touchscreen}} {{this}}
                                    {{else}}
                                    <ul>
                                        {{#each this}}
                                        <li>
                                            {{this}}

                                        </li>
                                        {{/each}}
                                    </ul>
                                    {{/unless}}
                                </li>
                                {{/each}}
                            </ul>
                            {{/each}}
                        </div>
                </section>
                {{/each}}

            </div>

        </div>

    </div>

    <div class="row">

        <section class="col-4">

            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h2>Engine:</h2>

                    {{#each engine}}
                    <div>
                        <p>{{@key}}: {{#unless this.gears}} {{this}}</p>
                        {{else}}
                        <ul>
                            {{#each this}}
                            <li>
                                {{@key}} - {{this}}

                            </li>
                            {{/each}}
                        </ul>
                        {{/unless}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>

        <section class="col-4">
            <div class="card mt-3">
                <div class="card-body">
                    <h2>Fuel economy:</h2>
                    {{#each fuel_economy}}
                    <div>
                        <p>{{@key}}: {{this}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>

        <section class="col-4">
            <div class="card mt-3">
                <div class="card-body">
                    <h2>Price:</h2>
                    {{#each price}}
                    <div>
                        <p>{{@key}}: {{#unless this.navigation}} {{this}}</p>
                        {{else}}
                        <ul>
                            {{#each this}}
                            <li>
                                {{@key}} - {{this}}

                            </li>
                            {{/each}}
                        </ul>
                        {{/unless}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>

    </div>


</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}