{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    <div class="row">
        <h1 class="text-primary">{{name}}</h1>

        <div class="alert alert-primary">
            <p>{{description}} Developed by {{history.founder}} in {{history.year}}.</p>
        </div>


        <section class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5>Variable types in JS:</h5>
                </div>
                <div class="card-body">
                    <ul>
                        {{#each types}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </section>



        <section class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Syntax used in JS:</h5>
                </div>
                <div class="card-body">
                    {{#each syntax}}
                    <span>
                        <strong>{{@key}}</strong>
                        <ul class="mb-0">
                            {{#each this}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </span>
                    {{/each}}
                </div>
            </div>
        </section>


        <section class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5>JS features</h5>
                </div>
                <div class="card-body">
                    <ul>
                        {{#each features}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </section>


        <section class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5>Used JS libraries:</h5>
                </div>
                <div class="card-body">
                    <ul>
                        {{#each libraries}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </section>


        <section class="col-4">
            <div class="card mb-5">
                <div class="card-header">
                    <h5>JS tools:</h5>
                </div>
                <div class="card-body">
                    <ul>
                        {{#each tools}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </section>


        <section class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5>JS community:</h5>
                </div>
                <div class="card-body">
                    <ul>
                        {{#each community}}
                        <li>{{type}}: {{name}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </section>

    </div>
</main>


{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}