<main>
    <div>
        <div class="text-center">
            <h1>{{page_header.title}}</h1>
            <p class="text-uppercase">{{page_header.description}}</p>
        </div>

        {{#with section.about_us}}
        <div class="card">
            <div class="card-body">
                <div class="text-end">
                    <p class="display-6">{{title_list.main}}</p>
                    <h2>{{title_list.sub}}</h2>
                </div>
                <button class="btn btn-outline-info">{{button.text}}</button>
            </div>
        </div>
        {{/with}}

        <p></p>

        {{#with section.advantage}}
        <div class="card">
            <div class="card-body">

                <div class="display-5">{{title}}</div>

                {{#with efficiency}}
                <div class="card">
                    <div class="card-body">
                        <div class="display-4">{{title}}</div>
                        <h6>{{sub_title}}</h6>
                        <p>{{description}}</p>
                        <button class="btn btn-outline-warning">{{button}}</button>
                    </div>
                </div>
                {{/with}}

                <p></p>

                {{#with innovation}}
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="display-4">{{title}}</div>
                            <h6>{{sub_title}}</h6>
                            <p>{{description}}</p>
                        </div>
                        <button class="btn btn-outline-warning">{{button}}</button>
                    </div>
                </div>
                {{/with}}

                <p></p>

                {{#with collaboration}}
                <div class="card">
                    <div class="card-body">
                        <div class="text-end">
                            <div class="display-4">{{title}}</div>
                            <h6>{{sub_title}}</h6>
                            <p>{{description}}</p>
                        </div>
                        <button class="btn btn-outline-warning">{{button}}</button>
                    </div>
                </div>
                {{/with}}

            </div>
        </div>
        {{/with}}

        <p></p>

        {{#with section.agreement}}
        <div class="card">
            <div class="card-body">
                <div class="display-5">{{title}}</div>
                <div class="card">
                    <div class="card-body">
                        <h5>{{info.sub_title}}</h5>
                        <div class="card">
                            <div class="card-body">
                                <p>{{info.detail.text}}</p>
                                <button class="btn btn-success">{{info.detail.button}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/with}}


    </div>
</main>